@root-entry-name: 'default';
@import (reference) '~antd/es/style/themes/index.less';

@slider-prefix-cls: ~'@{ant-prefix}-formily-color-palette-group';

.@{slider-prefix-cls} {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 5px;
    cursor: pointer;
    &-selected {
      background-color: @item-hover-bg;
      border: @border-width-base @border-style-base @border-color-base;
      border-radius: 2px;
    }
  }
  &__item:hover {
    background: @item-hover-bg;
  }
}
